body {
	background: black;
	color: white;
}

.tunnel circle {
	transform-origin: center;
}

.w-200 {
	width: 200%;
}

.border-inset {
	box-shadow: inset 0 0 0px 4px black;
}

.conveyor-belt {
	border-left: 4px solid black;
	border-right: 4px solid black;
}

.page {
	border: 4px solid black;
}