body {
	background: black;
	color: white;
}

// utility

.page {
	border-left: 4px solid black;
	border-right: 4px solid black;
	position: relative;
}

.page:after,
.page:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #000;
  z-index: 3;
}

.page:before {
  top: 0;
}

.page:after {
  bottom: 0;
}

.border-inset {
	box-shadow: inset 0 0 0px 4px black;
}

.w-200 {
	width: 200%;
}

// sections

.tunnel circle,
.crosses path,
.boxTunnel .boxTunnelEl {
	transform-origin: center;
}

.conveyor-belt {
	border-left: 4px solid black;
	border-right: 4px solid black;
}

.square {
	width: 8px;
	height: 8px;
	background: black;
}

.dot {
	width: 12px;
	height: 12px;
	background: black;
	border-radius: 50%;
}

.boxTunnel rect {
  transform-box: fill-box;
}